<div class="container">
    <div class="row">

        <div class="card col-md-3">

            <img src="https://m.media-amazon.com/images/I/61iPwyl3XeL._AC_SL1500_.jpg" alt="">
            <h5 style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Lenovo Ideapad 1 Laptop</h5>
            <p style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                Lenovo Ideapad 1 Laptop, 15.6" HD Screen, AMD Athlon Silver 3050U, 20GB RAM, 1TB PCIe SSD + 128GB eMMC, Webcam, HDMI, Type-C, Wi-Fi 6, Media Card Reader...
                Capacity:20GB RAM | 1TB SSD</p>
                <p><strong>Price:R</strong>4200</p>
                <button class="btn btn-dark">Add to cart</button>

                    <br>

            <img src="https://m.media-amazon.com/images/I/61IaarPCTRL._AC_SX679_.jpg" alt="">
            <h5 style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Lenovo Ideapad 1 Laptop</h5>
            <p style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                Lenovo Ideapad 1 Laptop, 15.6" HD Screen, AMD Athlon Silver 3050U, 20GB RAM, 1TB PCIe SSD + 128GB eMMC, Webcam, HDMI, Type-C, Wi-Fi 6, Media Card Reader...
                Capacity:20GB RAM | 1TB SSD</p>
                <p><strong>Price:R</strong>4200</p>
            
        </div>

    </div>

</div>>
